@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Darker Grotesque', sans-serif;
    /* color: #02060C99; */
    color: #02060CBF;
}

h1 {
    border: 2px solid red;
}